.bold {
  font-weight: 600;
}

.light {
  font-weight: 400;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.red {
  color: red;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.right {
  text-align: right;
}

.bgRed {
  background-color: red;
}
